{% extends 'base.html' %}
{% set active_page='dashboard' %}
{% block pageTitle %}
Dashboard
{%endblock%}
{% block pageContent %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">
                    Green Extruder Length
                </h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li class="ms-auto">
                        <span class="counter text-success">200</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">
                    Black Extruder Length
                </h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div class="sparklinedash2">
                            <canvas style="display: inline-block; width: 67px; height: 30px; vertical-align: top;" width="67"
                             height="30"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-success">1000</span>
                    </li>
                </ul>
            </div>
        </div>  <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">
                    Yellow Extruder Length
                </h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li class="ms-auto">
                        <span class="counter text-success">15000</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
            <button type="button" class="btn btn-outline-primary" id="btnExportExtruderCSV">Export Result (CSV)</button>
        </div>
        {% with data=extruderDF  %}
         {% include "inventoryData.html" %}
        {% endwith %}
    </div>
    <hr/>
    <div class="container">
        <div class="row">
            <button type="button" class="btn btn-outline-primary" id="btnExportCrossPlyCSV">Export Result (CSV)</button>
        </div>
        {% with data=crossPlyDF %}
         {% include "inventoryData.html" %}
        {% endwith %}
    </div>
    <hr/>
{% endblock %}