{% extends 'base.html' %}
{% from 'macroTable.html' import create_site_link, every_page_header %}
{% set active_page='extruder' %}
{% block pageTitle %}
Extruder New
{%endblock%}
{% block pageContent %}
<div class="container-fluid px-2">
    {{every_page_header('Extruder Home Page')}}   
</div>
<div class="container-fluid px-2">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <div class="row">
                    <div class="col">
                        <h6 class="text-capitalize display-6 ps-3">Extruder table</h6>
                    </div>
                    <div class="col">                        
                        <button type="button" class="btn btn-primary" id="btnExportExtruderCSV">   
                            Export Result (CSV)</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            {% with columns=data %}
            {% include "displayTableExtruder.html" %}
           {% endwith %}
        </div>
    </div>
</div>
{% endblock %}