{% extends 'base.html' %}
{% set active_page='extruder' %}
{% block pageTitle %}
Extruder
{%endblock%}
{% block pageContent %}
<h1 class="primary">I am extruder page</h1>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">This Week</button>
    <button type="button" class="btn btn-danger">This Month</button>
    <button type="button" class="btn btn-warning">All</button>
</div>
<div class="card">
    <div class="card-header">
        <h1 class="primary">{{headerData}}</h1>
    </div>
    <div class="card-body">

        <table class="table table-striped">
            <!-- create the table header -->
            <thead>
                <tr>
                    <th>Roll ID</th>
                    <th>Location</th>
                    <th>Color</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Weight</th>
                    <th>Created By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <!-- create the table body -->
            <tbody>
                {% for row in data%}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td>{{row[8]}}</td>
                    <td>{{row[11]}}, {{row[12]}}</td>
                    <td>{{row[9]|strftime}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}